@tailwind base;
@tailwind components;
@tailwind utilities;

.post-article h1 {
    @apply text-4xl mb-4;
}

.post-article h2 {
    @apply text-3xl mb-2;
}

.post-article h3 {
    @apply text-2xl mb-2;
}

.post-article h4 {
    @apply text-xl mb-2;
}

.post-article h5 {
    @apply text-lg mb-2;
}

.post-article h6 {
    @apply text-base mb-2;
}

.post-article p {
    @apply mb-4;
}
.post-article a {
    @apply underline hover:text-maincolor;
}

.post-article blockquote {
    @apply border-l-4 italic my-8 pl-8;
}

.post-article img {
    @apply mt-8 object-cover w-fit mx-auto rounded-md;
}
.post-article ul li {
    @apply list-disc list-image-[url('/check.png')]  pl-0;
}
.post-article ul,
ol {
    @apply box-border list-inside mb-4;
}
.post-article ol li {
    @apply list-decimal pl-0;
}

:root {
    --background: #ffffff;
    --foreground: #f2f2f2;
    /* --maincolor: #9eeea7; */
    --maincolor: #4b46ea;
    --inputbg: #e8e8e8;
    --accent: #f8f8f8;
    --faded-text: #a0a0a0;
    --text: #000000;
    --card: #eeeeee;
    --post: #f2f2f2;
    --bg-header: #ebe6e0;
    --btn-primary: #4b46ea;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #211a1a;
        --foreground: #e1e1e1;
        --inputbg: #444444;
        --accent: #383838;
        --faded-text: #8c8c8c;
        --text: #ffffff;
        --card: #413c3c;
        --post: #393838;
        --bg-header: #2c2626;
    }
    .dark-invert {
        filter: invert(1);
    }
}

body {
    color: var(--text);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.font-montserrat-alternates {
    font-family: "Montserrat Alternates";
}
input:active {
    outline: none;
    border: lightcyan;
}

.page-content {
    margin: 0 auto;
}
.mirrored {
    transform: scaleX(-1) rotate(90deg);
}
