@tailwind base;
@tailwind components;
@tailwind utilities;

.post-article h1 {
    @apply text-4xl mb-4;
}

.post-article h2 {
    @apply text-3xl mb-2;
}

.post-article h3 {
    @apply text-2xl mb-2;
}

.post-article h4 {
    @apply text-xl mb-2;
}

.post-article h5 {
    @apply text-lg mb-2;
}

.post-article h6 {
    @apply text-base mb-2;
}

.post-article p {
    @apply mb-4;
}
.post-article a {
    @apply underline hover:text-maincolor;
}

.post-article blockquote {
    @apply border-l-4 italic my-8 pl-8;
}

.post-article img {
    @apply mt-8 object-cover w-fit mx-auto rounded-md;
}
.post-article ul li {
    @apply list-disc list-image-[url('/check.png')]  pl-0;
}
.post-article ul,
ol {
    @apply box-border list-inside mb-4;
}
.post-article ol li {
    @apply list-decimal pl-0;
}

:root {
    --background: #ffffff;
    --foreground: #f2f2f2;
    /* --maincolor: #9eeea7; */
    --maincolor: #8461fb;
    --inputbg: #e8e8e8;
    --accent: #f8f8f8;
    --faded-text: #a0a0a0;
    --text: #000000;
    --card: #ffffff;
    --post: #f2f2f2;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #2e2e2e; /* Темный фон */
        --foreground: #e1e1e1; /* Светлый цвет текста */
        --maincolor: #8461fb; /* Смягченный основной цвет */
        --inputbg: #444444; /* Темный фон для полей ввода */
        --accent: #383838; /* Акцентные элементы — темный оттенок */
        --faded-text: #8c8c8c; /* Ослабленный текст */
        --text: #ffffff;
        --card: #393838;
        --post: #393838;
    }
}

body {
    color: var(--text);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

input:active {
    outline: none;
    border: lightcyan;
}
